/*  Change link colors  a {color: #0A2342 }   */



.header { 
    text-align: center;
    font-family: "Akaya Kanadaka";
    color: #0A2342 ;
    margin-top: 0;
}
.header img {
    width: 70px;
    height: auto;
    border: 2px solid #0A2342;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: #D9E5D6;
}

.navmenu {
    text-align: left;
    margin-bottom: 0;
}
.navmenu h2 {
    display: inline-block;
    margin: 0 20px;
    color: #315C2B;
    font-weight: bold;
}
.navmenu p {
    display: inline-block;
    margin: 0 20px;
    font-size: x-large;
}


body { 
    font-family: "Dongle";
    background-color: #537D8D;
}


.container { 
    border: 2px solid #0A2342 ;
    margin: 0 auto;
    width: 90%;
    height: auto;
}

#welcometext { 
    display: inline-block;
    vertical-align: top;
    text-align: left;
    color: #0A2342;
    font-size: x-large;
    width: 70%;
}
#welcomeimg { 
    display: inline-block;
    vertical-align: top;
    width: 25%;
}
#welcomeimg img { 
    display: inline-block;
    max-width: 400px;
    height: auto;
    margin-left: 500px;
}
