#header { 
    text-align: center;
    font-family: "Akaya Kanadaka";
    color: #0A2342 ;
    margin-top: 0;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: #D9E5D6;
}

.navmenu {
    text-align: left;
    margin-bottom: 0;
}
.navmenu h2 {
    display: inline-block;
    margin: 0 20px;
    color: #315C2B;
    font-weight: bold;
}
.navmenu p {
    display: inline-block;
    margin: 0 20px;
    font-size: x-large;
}

body { 
    font-family: "Dongle";
    background-color: #537D8D;
}

body > h2 { 
   color: #0A2342 ;
   font-size: xx-large;
}

body > h3 {
    font-size: x-large;
}

body > p {
    font-size: x-large;
}

body > ul {
    font-size: large;
}